.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  > h1 {
    font-size: 22px;
    color: #4c5968;
  }

  .nav-icon {
    color: #6e6868;
    transition: 200ms color ease-in;
  }
  .nav-icon:hover{
    color: #5a5454;
  }
}
