.container {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  bottom: 0;
  padding: 14px 0;
  display: flex;
  justify-content: space-evenly;

  .bottom-nav-icon {
    color: #aeb8c4;
    height: 22px;
    width: 22px;
    cursor: pointer;
    transition: color 200ms ease-in;

    &.active,
    &:hover {
      color: #4c5968;
    }
  }
}
