.icon {
  color: #aeb8c4;
  cursor: pointer;
  transition: 200ms all ease-in;
}
.icon:hover {
  color: #052852;
}

.container {
  .content {
    // display: none;
    // max-height: 0;
    // opacity: 0;

    transition-property: all;
    transition-duration: 300ms;
    // overflow: hidden;
  }
  .action-btn {
    border: none;
    background-color: transparent;
    transition: 200ms transform ease-in;
    width: fit-content;
    margin: 0 auto;
    display: flex;
  }
  &.extended .content {
    // display: block;
    // max-height: 100px;
    // opacity: 1;
    // transition: all 500ms;
    opacity: 1;
  }
  &.closed .content {
    overflow: hidden;
    opacity: 0;
  }
  &.extended .action-btn {
    transform: rotate(180deg);
  }
}
